@font-face {
    font-family: "Montserrat";
    src: url("../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../src/assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../src/assets/fonts/Roboto/Roboto-VariableFont_wdth_wgth.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../src/assets/fonts/Poppins/Poppins-Regular.ttf");
}

:root {
    --text-secondary-color: #494949;
    --text-secondary-color-unit: 73;
    --text-secondary-color-opacity: 0.6;
    --input-background-color: #f7f7f7;
    --icon-color: #8391a1;
    --input-text-color: #4b5158;
    --primary-color: #4aa35a;
    --primary-color-dark: #3a7e46;
    --primary-color-light: #009247;
    --secondary-color: #1f263e;
    --sidebar-text-color: #fafafa;
    --accent-color: #3a3a3d;
    --sidebar-background-color: #1f263e;
    --sidebar-indecator-color: rgb(0, 146, 71);
    --sidebar-ind-bg-color-red: 0;
    --sidebar-ind-bg-color-green: 146;
    --sidebar-ind-bg-color-blue: 77;
    --sidebar-ind-bg-color-opacity: 10%;
    --profile-bg: #f4ce9b;
    --text-white-color: #fff;
    --subcard-bg: #f0ffef;
    --action-bg: #f8f9fb;
}

body {
    font-family: "Inter";
}

.auth-container {
    background-image: url("../src/assets/images/auth-bg.png");
    background-size: cover;
    background-position: center center;
}

.auth-container .auth-card {
    padding: 3.5rem 4rem;
}

.auth-title > * {
    padding: 0;
    margin: 0;
}
.auth-title h4 {
    font-family: "Inter";
    color: var(--text-secondary-color);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 100%;
}

.auth-title span {
    font-family: "Inter";
    color: rgba(
        var(--text-secondary-color-unit),
        var(--text-secondary-color-unit),
        var(--text-secondary-color-unit),
        var(--text-secondary-color-opacity)
    );
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 100%;
}

.bg-overlay {
    background: linear-gradient(
        45deg,
        rgba(55, 140, 47, 0.6) 0 5%,
        rgba(0, 0, 0, 0.6) 30% 100%
    );
}

.icon,
.input-group-text.icon {
    color: var(--icon-color);
}

.text-secondary {
    color: rgba(
        var(--text-secondary-color-unit),
        var(--text-secondary-color-unit),
        var(--text-secondary-color-unit),
        var(--text-secondary-color-opacity)
    );
}

.bg-input {
    background-color: var(--input-background-color);
}

.input-group.bg-input {
    padding: 0.5rem 0.2rem;
    border-radius: 0.375rem;
}

.input-group.bg-input > * {
    background-color: inherit;
    border: none;
    font-size: 1rem;
}

.input-group.bg-input > .input-group-text {
    font-size: 1.2rem;
}

.input-group.bg-input input,
.input-group.bg-input input:active,
.input-group.bg-input input:focus {
    color: var(--input-text-color);
    font-weight: 400;
    line-height: 100%;
    vertical-align: bottom;
    border-left: none;
    border-right: none;
    box-shadow: none;
    background-color: inherit;
}

.input-group.bg-input input::placeholder {
    color: var(--icon-color);
}

.input-group.bg-input span:first-child {
    position: relative;
}
.input-group.bg-input span:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    width: 0.5px;
    height: 90%;
    background-color: var(--icon-color);
    z-index: 100;
}

.input-group-container:not(:last-child) {
    margin-bottom: 1.5rem;
}

/* .input-group.bg-input:last-child { */
.input-group-container:last-child {
    margin-bottom: 0.5rem;
}

button.auth-btn {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 100%;
    border: none;
    padding-block: 0.8rem;
}

button.auth-btn:hover,
button.auth-btn.btn:active,
button.auth-btn:disabled {
    background-color: var(--primary-color-dark);
    color: #fff;
}

button.auth-btn:disabled {
    cursor: not-allowed;
}

.form-links {
    padding-bottom: 2rem;
}
.form-links a {
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: var(--accent-color);
    transition: all 0.3s ease;
}

.form-links a:hover {
    color: var(--primary-color);
}

.form-links a:last-child {
    color: var(--primary-color);
}

.form-links a:last-child:hover {
    color: var(--primary-color-dark);
}

.sidebar {
    background-color: var(--sidebar-background-color);
    border-radius: 0 60px 0 0;
}

.sidebar-icon {
    color: var(--sidebar-text-color);
}

.sidebar-img-container {
    height: 20vh;
    margin-inline: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sidebar aside {
    border-radius: 0 60px 0 0;
    border: none;
}

.pro-menu-item {
    font-size: 16px;
}

.pro-sidebar .pro-menu-item a {
    transition: all 0.3s ease;
}

.pro-sidebar .pro-menu-item a:hover,
.pro-sidebar .pro-menu-item a.ps-active,
.pro-sidebar .pro-menu-item a.active {
    background-color: rgba(
        var(--sidebar-ind-bg-color-red),
        var(--sidebar-ind-bg-color-green),
        var(--sidebar-ind-bg-color-blue),
        var(--sidebar-ind-bg-color-opacity)
    );
}

.pro-sidebar .pro-menu-item a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s ease;
}
.pro-sidebar .pro-menu-item a:hover::before,
.pro-sidebar .pro-menu-item a.ps-active::before,
.pro-sidebar .pro-menu-item a.active::before {
    background-color: var(--sidebar-indecator-color);
}

nav .user-img-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-inline: 0.5rem;
    background-color: var(--profile-bg);
}

nav .user-img-container img {
    width: 100%;
}

nav .user-name-container {
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: var(--secondary-color);
    height: fit-content;
}

nav .dropdown a {
    color: var(--secondary-color);
}

nav .alert-container {
    font-size: 20px;
    color: var(--secondary-color);
    height: fit-content;
    position: relative;
}

nav .alert-container::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(var(--bs-light-rgb));
    background-color: red;
    border-radius: 50%;
}

.header-container {
    background-color: var(--primary-color-light);
    background-image: url("../src/assets/images/header_bg2.png");
    background-position: center;
    background-size: 105%;
    color: var(--text-white-color);
    overflow: hidden;
}

.header-container .header-img-container {
    align-self: flex-end;
}

.header-container h3 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
}

.header-container h3 span {
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
}

.header-container p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}

.dashboard-content .fill-recipes-card {
    background-color: var(--subcard-bg);
    color: var(--secondary-color);
}

.fill-recipes-card .card-text h3 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.fill-recipes-card .card-text h3 span {
    color: var(--primary-color-light);
}

.fill-recipes-card .card-text p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}

.fill-recipes-card a.card-action-btn {
    background-color: var(--primary-color-light);
    color: var(--text-white-color);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.fill-recipes-card a.card-action-btn:hover,
.fill-recipes-card a.card-action-btn:active,
.fill-recipes-card a.card-action-btn:focus {
    background-color: var(--primary-color);
    color: var(--text-white-color);
    animation: pulse 1s infinite;
}

.title a.title-action-btn {
    background-color: var(--primary-color-light);
    color: var(--text-white-color);
}

.title a.title-action-btn:hover,
.title a.title-action-btn:active,
.title a.title-action-btn:focus {
    background-color: var(--primary-color);
    color: var(--text-white-color);
}

.no-data-container {
    margin-inline: auto;
    width: 50%;
}

.no-data-container h3 {
    color: var(--text-secondary-color);
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

.no-data-container p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: rgba(
        var(--text-secondary-color-unit),
        var(--text-secondary-color-unit),
        var(--text-secondary-color-unit),
        var(--text-secondary-color-opacity)
    );
}

.custom-modal {
    position: relative;
    text-align: center;
}

.custom-modal .close-icon {
    color: #cc0000;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 2px solid #cc0000;
    top: 50px;
    right: 50px;
    transform: translate(50%, -50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.action-modal .header {
    position: relative;
    padding: 1rem;
}

.action-modal .header .close-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    align-self: center;
}

.custom-modal .close-icon:hover,
.custom-modal .close-icon:active,
.custom-modal .close-icon:focus {
    background-color: #cc0000;
    color: var(--text-white-color);
}

.confirm-modal h4 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--text-secondary-color);
}

.confirm-modal p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(
        var(--text-secondary-color-unit),
        var(--text-secondary-color-unit),
        var(--text-secondary-color-unit),
        var(--text-secondary-color-opacity)
    );
}
.action-modal form {
    width: 100%;
}
.action-modal .input-container {
    width: 80%;
    margin-inline: auto;
}
.action-modal input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}
.action-modal hr {
    margin-block: 30px;
}

.action-modal button {
    padding: 5px 30px;
}
ul.actions-menu {
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px 0 rgb(200, 200, 200);
}
.actions-menu .action-icon {
    color: var(--primary-color-light);
}

.actions-menu .action {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    padding: 10px 20px;
    width: 95%;
    margin-inline: auto;
    transition: all 0.3s ease;
    background-color: #fff;
}
.actions-container {
    position: relative;
}
.actions-menu::after {
    content: "";
    border: 10px solid;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -17px;
    right: 10px;
}

.actions-menu[data-popper-placement="top-end"]::after {
    border-color: #fff transparent transparent;
    top: unset;
    bottom: -17px;
}

.actions-menu .action:hover {
    background-color: var(--action-bg);
}

.actions a {
    color: var(--text-secondary-color);
    font-size: 16px;
}

.not-found .background-404 {
    background-image: url("@/assets/images/notfoundbg-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
}

.not-found .dotted-block {
    border: 2px dashed lightgrey;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 60%;
    left: -50px;
}

.not-found .robot-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.not-found .robot-bg img {
    width: 60%;
}

.not-found .notfound-container {
    height: 90vh;
    justify-content: space-between;
    color: var(--secondary-color);
}

.not-found .notfound-container h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
}

.not-found .notfound-container h4 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: var(--primary-color-light);
    text-transform: capitalize;
}

.not-found .notfound-container p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}

.not-found img {
    width: 50%;
}

.not-found .notfound-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.notfound-action a {
    padding: 20px 50px;
    background-color: var(--primary-color-light);
}

.notfound-action a:hover {
    background-color: var(--primary-color-dark);
}

.notfound-action a i {
    margin-right: 15px;
}

@keyframes pulse {
    0% {
        gap: 1rem;
    }
    50% {
        gap: 0.5rem;
    }
    100% {
        gap: 1rem;
    }
}
