@font-face {
    font-family: "Montserrat";
    src: url("../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../src/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
    --text-secondary-color: #49494999;
    --input-background-color: #f7f7f7;
    --icon-color: #8391a1;
    --input-text-color: #4b5158;
    --primary-color: #4aa35a;
    --primary-color-dark: #3a7e46;
    --secondary-color: #1f384c;
    --sidebar-text-color: #fafafa;
    --accent-color: #3a3a3d;
    --sidebar-background-color: #1f263e;
    --sidebar-indecator-color: rgb(0, 146, 71);
    --sidebar-ind-bg-color-red: 0;
    --sidebar-ind-bg-color-green: 146;
    --sidebar-ind-bg-color-blue: 77;
    --sidebar-ind-bg-color-opacity: 10%;
}

body {
    font-family: "Inter";
}

.auth-container {
    background-image: url("../src/assets/images/auth-bg.png");
    background-size: cover;
    background-position: center center;
}

.auth-container .auth-card {
    padding: 3.5rem 4rem;
}

.auth-title > * {
    padding: 0;
    margin: 0;
}
.auth-title h4 {
    font-family: "Inter";
    color: #494949;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 100%;
}

.auth-title span {
    font-family: "Inter";
    color: #49494999;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 100%;
}

.bg-overlay {
    background: linear-gradient(
        45deg,
        rgba(55, 140, 47, 0.6) 0 5%,
        rgba(0, 0, 0, 0.6) 30% 100%
    );
}

.icon,
.input-group-text.icon {
    color: var(--icon-color);
}

.text-secondary {
    color: var(--text-secondary-color);
}

.bg-input {
    background-color: var(--input-background-color);
}

.input-group.bg-input {
    padding: 0.5rem 0.2rem;
    border-radius: 0.375rem;
}

.input-group.bg-input > * {
    background-color: inherit;
    border: none;
    font-size: 1rem;
}

.input-group.bg-input > .input-group-text {
    font-size: 1.2rem;
}

.input-group.bg-input input,
.input-group.bg-input input:active,
.input-group.bg-input input:focus {
    color: var(--input-text-color);
    font-weight: 400;
    line-height: 100%;
    vertical-align: bottom;
    border-left: none;
    border-right: none;
    box-shadow: none;
    background-color: inherit;
}

.input-group.bg-input input::placeholder {
    color: var(--icon-color);
}

.input-group.bg-input span:first-child {
    position: relative;
}
.input-group.bg-input span:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    width: 0.5px;
    height: 90%;
    background-color: var(--icon-color);
    z-index: 100;
}

.input-group-container:not(:last-child) {
    margin-bottom: 1.5rem;
}

/* .input-group.bg-input:last-child { */
.input-group-container:last-child {
    margin-bottom: 0.5rem;
}

button.auth-btn {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 100%;
    border: none;
    padding-block: 0.8rem;
}

button.auth-btn:hover,
button.auth-btn.btn:active,
button.auth-btn:disabled {
    background-color: var(--primary-color-dark);
    color: #fff;
}

button.auth-btn:disabled {
    cursor: not-allowed;
}

.form-links {
    padding-bottom: 2rem;
}
.form-links a {
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: var(--accent-color);
    transition: all 0.3s ease;
}

.form-links a:hover {
    color: var(--primary-color);
}

.form-links a:last-child {
    color: var(--primary-color);
}

.form-links a:last-child:hover {
    color: var(--primary-color-dark);
}

.sidebar {
    background-color: var(--sidebar-background-color);
    border-radius: 0 60px 0 0;
}

.sidebar-icon {
    color: var(--sidebar-text-color);
}

.sidebar-img-container {
    height: 20vh;
    margin-inline: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sidebar aside {
    border-radius: 0 60px 0 0;
}

.pro-menu-item {
    font-size: 16px;
}

.pro-sidebar .pro-menu-item a:hover,
.pro-sidebar .pro-menu-item a.ps-active {
    background-color: rgba(
        var(--sidebar-ind-bg-color-red),
        var(--sidebar-ind-bg-color-green),
        var(--sidebar-ind-bg-color-blue),
        var(--sidebar-ind-bg-color-opacity)
    );
}
.pro-sidebar .pro-menu-item a:hover::before,
.pro-sidebar .pro-menu-item a.ps-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--sidebar-indecator-color);
}

nav .user-img-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-inline: 0.5rem;
    background-color: red;
}

nav .user-img-container img {
    width: 100%;
}

nav .user-name-container {
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: var(--secondary-color);
    height: fit-content;
}

nav .dropdown a {
    color: var(--secondary-color);
}

nav .alert-container {
    font-size: 20px;
    color: var(--secondary-color);
    height: fit-content;
    position: relative;
}

nav .alert-container::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(var(--bs-light-rgb));
    background-color: red;
    border-radius: 50%;
}
